@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Scripture Journal</h1>
    <img src="~/img/scripture.jpeg" alt="Image of a scripture" />
    <p>
        "...Seek ye diligently and teach one another words of wisdom; yea, seek ye out of the best books words of wisdom; seek learning, even by study and also by faith...”
        – Doctrine and Covenants 88:118
    </p>
    <p class="lead">
        <a href="/JournalEntries" class="btn btn-info">Open My Journal</a>
    </p>
</div>
