
@{
    ViewData["Title"] = "About";
}

<div class="jumbotron">
    <h1 style="text-align: center; color: #005fe1; font-weight: bolder">About Contoso University</h1>
    <p>
        Contoso University, also called CON or CONU in short is a Federal university in Nigeria.
        It consists of three campuses in Anambra State. Its main campus is located in the capital of Anambra State,
        Awka while two other campuses are located in Nnewi and Agulu, Anambra State.
    </p>
    <h1>Contact Information</h1>
    <h3>Name: Uchechukwu Ferdinand Nkenta</h3>
    <h3>Location: 5 Amiblo lane Enugu, Nigeria</h3>
    <h3>Email: uchenkenta@gmail.com</h3>
</div>

