@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <img src="~/school landmark.jpeg" alt="Schoold landmark" style="width: 100%" />
        <hr />
        <h1 style="text-align: center; color: #005fe1; font-weight: bolder">Contoso University</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to Contoso University</h2>
            <p>
                Contoso Institute of Technology (CIT) is a private research university in Enugu State, Nigeria. We focus on new technologies, a breath taking invovations and adding value to life.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Enrolled Students</h2>
            <p>You can view the full list of all enrolled student with the date they were enrolled.</p>
            <p><a class="btn btn-default" href="/students">Click to view list &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get Enrolled</h2>
            <p>You can enroll within four section in a year. Winter, Spring, Summer and Fall. Get started using the link below</p>
            <p><a class="btn btn-primary" href="/students/create">Enroll Me</a></p>
        </div>
    </div>